.card-container {
  padding: 60px 20px 20px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s;
  cursor: pointer;
}

.card-container .card-icon {
  background-color: #ec8f5e;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  position: relative;
}

.card-container .card-icon svg {
  font-size: 70px;
  position: absolute;
  left: -25%;
  top: -25%;
  transform: translate(-25%, -25%);
  transition: all 0.3s ease-in;
}

.card-container:hover .card-icon svg {
  font-size: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
